/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
*{
    margin: 0;
    height: 100%;
    font-family: 'Archivo', sans-serif;
}
body{
    display: flex;
    background: rgb(254, 247, 255);
    justify-content: center;
    align-items: center;
}
.content{
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.6rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 8rem -3rem rgba(0,0,0,0.45),9.5rem 2rem 0 -4rem rgba(255, 175, 238, 0.452),6rem 6rem 0 -2rem rgba(255, 175, 238, 0.799),-8rem -6rem 0 -0.5rem rgba(255, 175, 238, 0.146);
}
img{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}
h4{
    font-size: 1.8vh;
    height: auto;
    width: 6rem;
}
p{
    width: 6rem;
    font-size: 1.2vh;
    height: auto;
}
button{
    height: auto;
    font-size: 1.5vh;
    border:none;
    color: #fff;
    background: rgba(241, 74, 188, 0.97);
    padding: 0.5rem;
    border-radius: 0.8vh;
    box-shadow: 0 3px 5px 0 rgba(241, 74, 188, 0.345);
}